
/* Inicio Ediciones de reglas Basicas*/

@media (min-width: 1200px) {
    
   #page {
        padding-top: 60px;
    }
  
    
  .span3.span330 {
    width: 230px; /* 270 */
  }

  .span3.span320 {
    width: 220px; /* 270 */
  }
  
   .span9.span910 {
    width: 910px; /* 870 */
  }  

  .sidenav {
        width: 200px;
   }
 
   .sidenav.affix {
        top: 65px;
   }   

   .page-header {
        padding-bottom: 5px;
        margin: 0px 0 15px;
        border-bottom: 1px solid #eeeeee;
   }
   
   .cuadro{
          padding: 10px;
          height: 130px;
   }
   
   .cuadro h4{
           font-size: 22px;
           line-height: 30px;
   }
   
}


@media (min-width: 980px) and (max-width: 1199px) {
    
    #page {
        padding-top: 60px;
    }   
    
   .sidenav.affix {
        top: 65px;
   }
   
   .sidenav {
        width: 180px;
   }
   
   .page-header {
        padding-bottom: 5px;
        margin: 0px 0 15px;
        border-bottom: 1px solid #eeeeee;
   }
   
   .cuadro{
          padding: 10px;
          height: 130px;
   }
   
   .cuadro h4{
           font-size: 20px;
           line-height: 23px;
   }
   

}

@media (min-width: 768px) and (max-width: 979px) {
   .sidenav {
        width: 130px;
   }
   
   .sidenav.affix {
        top: 75px;
   }
   
   .page-header {
        padding-bottom: 9px;
        margin: 0px 0 15px;
        border-bottom: 1px solid #eeeeee;
   }   
   
   .cuadro{
          height: 170px;
          padding-top: 10px;
          padding-right: 13px;
          padding-bottom: 19px;
          padding-left: 13px;
   }   
   
   .cuadro h2{
           font-size: 28px;
           line-height: 35px;
   }
   
   .cuadro h4{
           font-size: 20px;
           line-height: 25px;
   }
        
}

@media (max-width: 767px) {
    
        .sidenav.affix {
                position: static;
                width: auto;
                top: 0;
        }
        
        .page-header {
                padding-bottom: 9px;
                margin: 20px 0 15px;
                border-bottom: 1px solid #eeeeee;
        }
        
        .cuadro h4{
                font-size: 27px;
                line-height: 30px;
        }
        
        .hero-unit{
                padding: 50px;
        }

}

@media (max-width: 450px){
        .hero-unit{
                padding-top: 35px;
                padding-right: 15px;
                padding-bottom: 35px;
                padding-left: 15px;
        }
}

/* Fin de ediciones de reglas Basicas */


/* ----- Edicion de reglas 2 ------ */


.form-horizontal .help-block {
        margin-bottom: 10px;
}

.form-horizontal .control-label {
        text-align: left;
        width: 180px;
}


/*.form-horizontal .row {
	margin-bottom: 8px;  20px 
}

.form-horizontal .row label {
	float: left;
	width: 200px;
	padding-top: 5px;
	text-align: left !important;
}*/

div .select2-container{
        margin-left: 0px;
        float: none;
}

.chzn-container-single .chzn-single {
        padding: 2px 2px 2px 8px;
        font-size: 14px;
}

.grid-view {
        font-size: 14px;
}


/* Fin de edición de reglas 2 */



/* ----- Inicio CSS Fix (posiciones de elementos erroneas) ----- */

#footer
{
	/*padding: 10px;*/
	margin: 10px 20px;
	font-size: 0.9em;
	text-align: center;
        /*border-top: 1px solid #C9E0ED;*/
}

.search-form{
    display: none;
}

.search-form .row{
    margin-left: 0px;
}

/*.search-form .row label{
    display: inline;
    margin-right: 100px;
}*/

.search-form span.required{
    display: none;
}

.form .row{
    margin-left: 0px;
}

.well .row.buttons, .well .form-actions{
    padding: 19px 20px 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.row.buttons{
    padding: 19px 20px 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.has-switch label {
        z-index: 9;
}

.row-fluid .span6 .summary{
        text-align: right;
}

/* Fin CSS Fixs*/



/* ----- Nuevas Reglas ----- */

.buttons-admin{
        margin-bottom: 15px;
}

/* Para TbListView */
a.buttonwell{
        text-decoration: none;
        color: #000;
}

a.buttonwell:hover div.well, a.buttonwell:active div.well
{    
    background-color: #E6E6E6;
    text-decoration:none;
}
/* Fin TbListView  */

.cuadro{
        text-align: center;
}

/* Fin Nuevas Reglas*/