/*
Template Name: Flat Lab Dashboard build with Bootstrap v3.0
Template Version: 1.0
Author: Mosaddek Hossain
Website: http://thevectorlab.net/
*/

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

/* ==== Navigation ==== */

#navigation {
	background: #fff;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
        
}

/* fix for small android devices */
@media (max-width: 240px) {
	.navbar .brand {
		margin-left: -12px;
	}
}

.navbar-fixed-top {
	position: fixed;
}

.nav a {
	color: #25272B !important;
}

.nav a:hover {
	color: #bbbdc0 !important;
}

.nav .active a {
	color: #bbbdc0 !important;
}

.navbar .nav .active a, .navbar .nav .active a:hover {
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.navbar .nav li a {
	text-shadow: none;
	text-align: center;
	padding: 20px 15px 20px 15px;
}
.navbar .brand {
    padding: 20px 20px 10px;
}

.navbar-inner {
	background: #fff;
	
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
        border: 1px solid #d4d4d4;
}

.navbar-fixed-top .navbar-inner {
	padding: 0;
}

.navbar-fixed-top {
	margin: auto;
}

.navbar .btn-navbar {
	float: right;
	padding: 12px 12px;
	margin: 12px 0;
}

.nav-collapse .nav li a:hover, .nav-collapse .dropdown-menu a:hover {
	background-color: transparent;
}

.nav-collapse .nav li a  {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 13px;
}

@media (max-width: 979px) {
	.navbar  {
	padding: 0 20px;
	margin-bottom: 0;
	}
}

@media (max-width: 979px) {
	.nav-collapse .nav li a, .nav-collapse .dropdown-menu a {
	padding: 9px 15px;
	}
}
